@charset "utf-8";

html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
/* to preserve line-height and selector appearance */
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
/*to enable resizing for IE*/
input,textarea,select{*font-size:100%;}
/*because legend doesn't inherit in IE */
legend{color:#000;}
del,ins{text-decoration:none;}

/*
a, a:link {overflow:hidden; outline:none;text-decoration:none ; color:#0061c5; !important}
a:hover, a:active{color:#0882ff;text-decoration:none ; !important }
*/

input{vertical-align: middle;}
input[type="checkbox"],  
input[type="radio"] {  
vertical-align:text-bottom;  
}  

strong{font-weight:bold;}

img{vertical-align:middle;}



/*  ---- Clearfix ----  */

.clearfix{
	zoom:1;
}
.clearfix:after{
    content: ""; 
    display: block; 
    clear: both;}

.clearfix { display: inline-block; }
/* Mac版IEを除外 \*/
.clearfix { display: block; }
/* */


