@charset "UTF-8";

/*** common ***/

body {
    font-size: 16px;
}

/*** header ***/
header {
    display: block;
    width: 1080px;
    margin: 0 auto;
}

header .logo {
    background-image: url(../img/logo.jpg) ;
    width: 55px;
    height: 55px;
    margin-top: 12px;
    margin-left: 16px;
}

header .logo a {
    display: block;
    width: 55px;
    height: 55px;
}

/*** main ***/
.main {
    width: 1080px;
    margin: 0 auto;
}

.main .title h1 {
    font-family: 'M+ C Type-1 (basic latin) Regular','M+ Type-1 (general-j) Regular', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #569c3c;
    margin-top: 88px;
}

.main .title .title_shape {
    background-image: url(../img/title_shape.jpg);
    width: 379px;
    height: 21px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}
.main .content textarea {
    width: 808px;
    height: 582px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.checkarea  {
    text-align: center;
    margin-top: 32px;
}

.rcnotearea  {
    width: 808px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;
}

.warningarea {
    width: 808px;
    margin-left: auto;
    margin-right: auto;
    color: #800000;
    font-size: 100%;
    border: solid #B00000;
    padding: 2px;
    margin-top: 20px;
}

.downloadarea {
    text-align: center;
    margin-top: 51px;
}


.button a {
    font-family: 'M+ C Type-1 (basic latin) Regular','M+ Type-1 (general-j) Regular', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;
    padding: 19px 21px;
    -webkit-transition: all .3s;
    transition: all .3s;
    min-width: 280px;
}

.downloadarea .button {
    margin:0 32px;
}

.downloadarea .button.win a {
    display: inline-block;
    text-align: center;
    border: 1px solid #569c3c;
    background: #569c3c;
    color: #fff;
}

.downloadarea .button.win a:hover {
    border: 1px solid #569c3c;
    background: #fff;
    color: #569c3c;
}

.downloadarea .button.mac a {
    display: inline-block;
    text-align: center;
    border: 1px solid #506aea;
    background: #506aea;
    color: #fff;
}

.downloadarea .button.mac a:hover {
    border: 1px solid #506aea;
    background: #fff;
    color: #506aea;
}

.nightly .downloadarea {
    margin-top: 30px;
}
.nightly .button a{
    font-size: 16px;
    padding: 15px 18px;
}

.returnarea {
    margin-top: 80px;
    text-align: center;
}

.returnarea .button a {
    display: inline-block;
    border: 1px solid #569c3c;
    background: #fff;
    color: #569c3c;
}

.returnarea .button a:hover {
    border: 1px solid #569c3c;
    background: #569c3c;
    color: #fff;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #ccc;
    margin-top: 100px;
}

footer .wrapper {
    width: 1080px;
    margin: 0 auto;
}

footer .copyright  {
    color: #fff;
    text-align: center;
    padding-top: 12px;
}

footer .thanks  {
    color: #000;
    text-align: center;
    padding-top: 12px;
}

.samplearea {
    text-align: center;
    margin-top: 20px;
}

.samplearea  h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #54963b;
  text-align: center;
  display: inline-block;
  color: #569c3c;
}

.kumodescarea {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}
.kumohowtoarea {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}



